// :host {
//     height: unset;
// }

::ng-deep .mat-expansion-panel-header {
    padding: 0 10px !important;
}

::ng-deep .mat-expansion-panel-header.mat-expanded {
    height: 48px !important;
}

::ng-deep .mat-expansion-panel-body {
    padding: 0px !important;
    line-height: 1.42857143 !important;
}

::ng-deep .mat-expansion-panel:not([class*=mat-elevation-z]) {
   box-shadow: none;
}

.sidebar-header-title {
    margin-left: 5px;
    margin-top: 5px;
    font-weight: bold;
}

.sidebar-content {
    padding: 5px 15px !important;
    margin-left: 5px;
    display: flex;
    cursor: pointer;
}

.sidebar-content:hover {
    background: rgba(0,0,0,.04);
}

.sidebar-content-value {
    width: 100%;
}

.sidebar-content-value-icon-internal {
    font-size: 20px;
}

.sidebar-ativo {
    color: #44B8B5;
}

#sidebar {
    width: 250px;
    height: 100%;
    bottom: 0;
    background: #fff;
    box-shadow: 3px 0 6px rgba(0, 0, 0, 0.24);
    z-index: 999;
    -ms-overflow-y: auto;
    overflow-y: auto;
    display: none;
    .mat-nav-list {
        width: 100%;
        a {
            .mat-icon {
                margin-right: 15px;
            }
            display: block;
        }
    }
}

.show-sidebar {
    display: block !important;
}
 
.menu-disable {
    opacity: 0.6;
    cursor: default;
    pointer-events: none;
}