.crumbs{
    display:inline;
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    margin-right: 10px;
    font-size: 12px;
    color: #444;
    cursor: pointer;
}

.crumbs:last-child{
    color: #777;
    pointer-events: none;
}

.crumbs:before { 
    margin-right: 10px;
    pointer-events: none;
    content: ">";
}

.crumbs:first-child:before {
    display: none;
    pointer-events: none;
}
