.salvar-button {
    color: #fff;
    background-color: #287f7c;
}

.salvar-button-div {
    justify-content: flex-end
}

.upload{
    font-family: "Fontil Sans";
    color: #fff;
    background-color: #287f7c;
    border-radius: 6px;
    height: 28px;
    width: 130px;
    margin-top: 15px;
}

.arquivo{
    color: #a8a8a8;
    background-color: #e0e0e0;
}
#arquivoNome{
    margin: 20px;
}